<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="pt"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>EstoqueApp</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      .lista-produto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      table {
        width: 80%;
        border: #3f51b5 1.5px solid;
      }

      td,
      th {
        text-align: center;
      }

      thead {
        background-color: indigo;
        color: #fff;
      }

      thead tr,
      thead td {
        background-color: indigo;
      }

      tbody tr {
        background-color: #fff;
        transition: all linear 500ms;
      }

      tbody tr:hover {
        background-color: rgb(193, 176, 205);
        transition: all linear 500ms;
      }

      tbody tr:hover a {
        color: #fff;
        transition: all linear 500ms;
      }

      .pagination {
        margin-top: 20px;
        text-align: center;
      }
      header {
        margin-bottom: 30px;
      }
    </style>
  </head>
  <body>
    <header th:replace="~{components/geral :: cabecalho}"></header>

    <div class="row center container">
      <form id="filtro" class="container" th:action="@{/pedidos}" method="get">
        <label class="col s4">
          <input type="checkbox" value="alerta" name="status" id="alerta" />
          <span>Alerta</span>
        </label>
        <label class="col s4"
          ><input type="checkbox" value="critico" name="status" id="critico" />
          <span>Crítico</span></label
        >
        <button
          style="width: fit-content"
          class="waves-effect btn-small indigo col s4"
          type="submit"
        >
          <i class="material-icons">search</i>
        </button>
      </form>
    </div>

    <div class="lista-produto">
      <table>
        <thead>
          <tr class="indigo">
            <th>Nome</th>
            <th>Quantidade</th>
            <th>
              <a
                th:if='${#lists.contains(papeis, "criar_produto")}'
                class="waves-effect btn modal-trigger white"
                href="#modal-novo-produto"
                ><i style="color: #2680ca" class="material-icons">add</i></a
              >
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${listaVazia}">
            <td colspan="3">SEM PRODUTOS</td>
          </tr>
          <tr th:unless="${listaVazia}" th:each="produto : ${produtos}">
            <td>
              <span th:text="${produto.nome}"></span>
            </td>
            <td><span th:text="${produto.quantidade}"></span></td>
            <td>
              <a
                th:href="@{'#modal-produto-' + ${produto.id}}"
                class="btn-flat transparent modal-trigger"
              >
                <i style="color: #2680ca" class="material-icons">visibility</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <ul class="pagination">
        <li th:class="${paginaAtual == 1 ? 'waves-effect' : 'disabled'}">
          <a th:href="@{'/produtos?page=' + ${paginaAtual-1}}"
            ><i class="material-icons">chevron_left</i></a
          >
        </li>
        <li
          th:each="pagina : ${paginas}"
          th:class="${paginaAtual == pagina} ? 'active indigo' : 'waves-effect'"
        >
          <a th:href="@{'/produtos?page=' + ${pagina}}"
            ><span th:text="${pagina}"></span
          ></a>
        </li>
        <li class="waves-effect">
          <a th:href="@{'/produtos?page=' + ${paginaAtual+1}}"
            ><i class="material-icons">chevron_right</i></a
          >
        </li>
      </ul>
    </div>
    <!-- Modal Structure -->
    <div id="modal-novo-produto" class="modal">
      <div
        th:insert="~{components/geral :: novo-produto}"
        class="modal-content"
      ></div>
    </div>
    <!-- Modal Structure -->
    <div
      th:each="produto : ${produtos}"
      th:id="'modal-produto-' + ${produto.id}"
      class="modal"
    >
      <div
        th:insert="~{components/geral :: produto}"
        class="modal-content"
      ></div>
    </div>
    <!-- Modal Structure Apagar Produto -->
    <div
      th:each="produto : ${produtos}"
      th:id="'modal-eliminar-produto-' + ${produto.id}"
      class="modal"
    >
      <div class="modal-content row">
        <div class="col s12">Deseja mesmo apagar?</div>
        <div>
          <a
            th:href="${(#mvc.url('PC#deletarProduto').arg(0, produto.id)).build()}"
            class="red col s5 modal-close waves-effect waves-light btn-small"
            >Eliminar</a
          >
          <a
            href="#"
            class="indigo col s5 modal-close waves-effect waves-light btn-small"
            >Cancelar</a
          >
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".modal").modal();
      });

      $(document).ready(function () {
        $("select").formSelect();
      });
    </script>
    <script>
      document
        .getElementById("filtro")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Impede o envio padrão do formulário

          // Obtém os checkboxes selecionados
          var checkboxes = document.querySelectorAll(
            'input[name="status"]:checked'
          );

          // Cria um array para armazenar os valores selecionados
          var valoresSelecionados = [];

          // Itera sobre os checkboxes selecionados e adiciona os valores ao array
          checkboxes.forEach(function (checkbox) {
            valoresSelecionados.push(checkbox.value);
          });

          // Constrói a URL com os valores selecionados
          var url = "/produtos?status=" + valoresSelecionados.join(",");

          // Redireciona para a URL desejada
          window.location.href = url;
        });
    </script>
  </body>
</html>
